USE [QuanLyKhoHang_K235480106020]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_SoNgayTonKho]    Script Date: 1/05/2026 11:53:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
-- SCALAR FUNCTION: Tính số ngày sản phẩm đã ở trong kho
-- ============================================================
CREATE   FUNCTION [dbo].[fn_SoNgayTonKho]
(
    @MaSP INT
)
RETURNS INT
AS
BEGIN
    DECLARE @NgayNhapDau DATE;
    DECLARE @SoNgay      INT;

    -- Lấy ngày nhập đầu của sản phẩm
    SELECT @NgayNhapDau = NgayNhapDau
    FROM SanPham
    WHERE MaSP = @MaSP;

    -- Nếu không tìm thấy sản phẩm, trả về NULL
    IF @NgayNhapDau IS NULL
        RETURN NULL;

    -- Tính số ngày từ ngày nhập đầu đến hôm nay
    SET @SoNgay = DATEDIFF(DAY, @NgayNhapDau, GETDATE());

    RETURN @SoNgay;
END;

GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhGiaTriTonKho]    Script Date: 1/05/2026 11:53:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_TinhGiaTriTonKho]
(
    @MaKho INT
)
RETURNS @KetQua TABLE
(
    MaSP               INT,
    TenSP              NVARCHAR(150),
    SoLuongTon         INT,
    DonGiaNhap         DECIMAL(18,2),
    GiaTriTon          DECIMAL(18,2),
    GiaTriCoVAT        DECIMAL(18,2),

    -- Tăng kích thước lớn hơn
    MucGiaTri          NVARCHAR(200),

    TyLeGiaTriKho      DECIMAL(10,2)
)
AS
BEGIN

    DECLARE @TongGiaTriKho DECIMAL(18,2);

    SELECT
        @TongGiaTriKho =
        ISNULL(SUM(SoLuongTon * DonGiaNhap),0)
    FROM SanPham
    WHERE MaKho = @MaKho;

    IF @TongGiaTriKho = 0
        SET @TongGiaTriKho = 1;

    INSERT INTO @KetQua
    SELECT
        sp.MaSP,
        sp.TenSP,
        sp.SoLuongTon,
        sp.DonGiaNhap,

        CAST(
            sp.SoLuongTon * sp.DonGiaNhap
            AS DECIMAL(18,2)
        ),

        CAST(
            sp.SoLuongTon * sp.DonGiaNhap * 1.10
            AS DECIMAL(18,2)
        ),

        CASE
            WHEN sp.SoLuongTon * sp.DonGiaNhap >= 500000000
                THEN N'Giá trị cao'

            WHEN sp.SoLuongTon * sp.DonGiaNhap >= 50000000
                THEN N'Giá trị trung bình'

            ELSE N'Giá trị thấp'
        END,

        CAST(
            ROUND(
                (sp.SoLuongTon * sp.DonGiaNhap) * 100.0
                / @TongGiaTriKho,
                2
            )
            AS DECIMAL(10,2)
        )

    FROM SanPham sp
    WHERE sp.MaKho = @MaKho;

    RETURN;
END;

GO
/****** Object:  Table [dbo].[KhoHang]    Script Date: 1/05/2026 11:53:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoHang](
	[MaKho] [int] IDENTITY(1,1) NOT NULL,
	[TenKho] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](200) NOT NULL,
	[SucChua] [int] NOT NULL,
	[NgayThanhLap] [date] NOT NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_KhoHang] PRIMARY KEY CLUSTERED 
(
	[MaKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 1/05/2026 11:53:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](150) NOT NULL,
	[DonViTinh] [nvarchar](30) NOT NULL,
	[SoLuongTon] [int] NOT NULL,
	[DonGiaNhap] [decimal](18, 2) NOT NULL,
	[MaKho] [int] NOT NULL,
	[NgayNhapDau] [date] NOT NULL,
	[MucTonToiThieu] [int] NOT NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_SanPhamTheoKho]    Script Date: 1/05/2026 11:53:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
-- INLINE TABLE-VALUED FUNCTION: Sản phẩm theo kho
-- ============================================================
CREATE   FUNCTION [dbo].[fn_SanPhamTheoKho]
(
    @MaKho INT
)
RETURNS TABLE
AS
RETURN
(
    SELECT
        sp.MaSP,
        sp.TenSP,
        sp.DonViTinh,
        sp.SoLuongTon,
        sp.MucTonToiThieu,
        sp.DonGiaNhap,
        sp.SoLuongTon * sp.DonGiaNhap          AS GiaTriTon,
        kh.TenKho,
        kh.DiaChi,
        CASE
            WHEN sp.SoLuongTon = 0                       THEN N'Hết hàng'
            WHEN sp.SoLuongTon <= sp.MucTonToiThieu      THEN N'Sắp hết'
            WHEN sp.SoLuongTon <= sp.MucTonToiThieu * 2  THEN N'Tồn thấp'
            ELSE                                               N'Bình thường'
        END AS TrangThaiTon
    FROM SanPham sp
    INNER JOIN KhoHang kh ON sp.MaKho = kh.MaKho
    WHERE sp.MaKho = @MaKho
);

GO
/****** Object:  Table [dbo].[PhieuNhapXuat]    Script Date: 1/05/2026 11:53:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhapXuat](
	[MaPhieu] [int] IDENTITY(1,1) NOT NULL,
	[MaSP] [int] NOT NULL,
	[NgayGiaoDich] [datetime] NOT NULL,
	[LoaiPhieu] [nvarchar](5) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[GhiChu] [nvarchar](300) NULL,
 CONSTRAINT [PK_PhieuNhapXuat] PRIMARY KEY CLUSTERED 
(
	[MaPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[KhoHang] ON 

INSERT [dbo].[KhoHang] ([MaKho], [TenKho], [DiaChi], [SucChua], [NgayThanhLap], [TrangThai]) VALUES (1, N'Kho Trung Tâm', N'Số 12, Đường Láng Hạ, Đống Đa, Hà Nội', 50000, CAST(N'2018-03-15' AS Date), N'HoatDong')
INSERT [dbo].[KhoHang] ([MaKho], [TenKho], [DiaChi], [SucChua], [NgayThanhLap], [TrangThai]) VALUES (2, N'Kho Miền Bắc', N'Số 45, Khu Công Nghiệp Nội Bài, Sóc Sơn, Hà Nội', 30000, CAST(N'2019-06-01' AS Date), N'HoatDong')
INSERT [dbo].[KhoHang] ([MaKho], [TenKho], [DiaChi], [SucChua], [NgayThanhLap], [TrangThai]) VALUES (3, N'Kho Miền Nam', N'Lô B12, KCN Tân Bình, Quận Tân Bình, TP.HCM', 40000, CAST(N'2019-08-20' AS Date), N'HoatDong')
SET IDENTITY_INSERT [dbo].[KhoHang] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuNhapXuat] ON 

INSERT [dbo].[PhieuNhapXuat] ([MaPhieu], [MaSP], [NgayGiaoDich], [LoaiPhieu], [SoLuong], [DonGia], [GhiChu]) VALUES (1, 1, CAST(N'2024-01-05T08:30:00.000' AS DateTime), N'Nhap', 20, CAST(18000000.00 AS Decimal(18, 2)), N'Nhập từ nhà phân phối Dell Vietnam')
INSERT [dbo].[PhieuNhapXuat] ([MaPhieu], [MaSP], [NgayGiaoDich], [LoaiPhieu], [SoLuong], [DonGia], [GhiChu]) VALUES (2, 2, CAST(N'2024-01-05T09:00:00.000' AS DateTime), N'Nhap', 15, CAST(14800000.00 AS Decimal(18, 2)), N'Nhập từ FPT Distribution')
INSERT [dbo].[PhieuNhapXuat] ([MaPhieu], [MaSP], [NgayGiaoDich], [LoaiPhieu], [SoLuong], [DonGia], [GhiChu]) VALUES (3, 3, CAST(N'2024-01-06T10:00:00.000' AS DateTime), N'Nhap', 50, CAST(4600000.00 AS Decimal(18, 2)), N'Nhập hàng loạt từ LG Electronics')
SET IDENTITY_INSERT [dbo].[PhieuNhapXuat] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([MaSP], [TenSP], [DonViTinh], [SoLuongTon], [DonGiaNhap], [MaKho], [NgayNhapDau], [MucTonToiThieu]) VALUES (1, N'Laptop Dell Inspiron 15', N'Cái', 45, CAST(18500000.00 AS Decimal(18, 2)), 5, CAST(N'2023-01-10' AS Date), 5)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [DonViTinh], [SoLuongTon], [DonGiaNhap], [MaKho], [NgayNhapDau], [MucTonToiThieu]) VALUES (2, N'Laptop HP Pavilion 14', N'Cái', 30, CAST(15200000.00 AS Decimal(18, 2)), 5, CAST(N'2023-01-15' AS Date), 5)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [DonViTinh], [SoLuongTon], [DonGiaNhap], [MaKho], [NgayNhapDau], [MucTonToiThieu]) VALUES (3, N'Màn hình LG 24" Full HD', N'Cái', 80, CAST(4800000.00 AS Decimal(18, 2)), 1, CAST(N'2023-02-01' AS Date), 10)
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
ALTER TABLE [dbo].[KhoHang] ADD  DEFAULT (getdate()) FOR [NgayThanhLap]
GO
ALTER TABLE [dbo].[KhoHang] ADD  DEFAULT (N'HoatDong') FOR [TrangThai]
GO
ALTER TABLE [dbo].[PhieuNhapXuat] ADD  DEFAULT (getdate()) FOR [NgayGiaoDich]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT (getdate()) FOR [NgayNhapDau]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((10)) FOR [MucTonToiThieu]
GO
ALTER TABLE [dbo].[PhieuNhapXuat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhapXuat_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[PhieuNhapXuat] CHECK CONSTRAINT [FK_PhieuNhapXuat_SanPham]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_KhoHang] FOREIGN KEY([MaKho])
REFERENCES [dbo].[KhoHang] ([MaKho])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_KhoHang]
GO
ALTER TABLE [dbo].[KhoHang]  WITH CHECK ADD  CONSTRAINT [CHK_KhoHang_SucChua] CHECK  (([SucChua]>(0)))
GO
ALTER TABLE [dbo].[KhoHang] CHECK CONSTRAINT [CHK_KhoHang_SucChua]
GO
ALTER TABLE [dbo].[KhoHang]  WITH CHECK ADD  CONSTRAINT [CHK_KhoHang_TrangThai] CHECK  (([TrangThai]=N'BaoDuong' OR [TrangThai]=N'DongCua' OR [TrangThai]=N'HoatDong'))
GO
ALTER TABLE [dbo].[KhoHang] CHECK CONSTRAINT [CHK_KhoHang_TrangThai]
GO
ALTER TABLE [dbo].[PhieuNhapXuat]  WITH CHECK ADD  CONSTRAINT [CHK_PhieuNhapXuat_DonGia] CHECK  (([DonGia]>(0)))
GO
ALTER TABLE [dbo].[PhieuNhapXuat] CHECK CONSTRAINT [CHK_PhieuNhapXuat_DonGia]
GO
ALTER TABLE [dbo].[PhieuNhapXuat]  WITH CHECK ADD  CONSTRAINT [CHK_PhieuNhapXuat_LoaiPhieu] CHECK  (([LoaiPhieu]=N'Xuat' OR [LoaiPhieu]=N'Nhap'))
GO
ALTER TABLE [dbo].[PhieuNhapXuat] CHECK CONSTRAINT [CHK_PhieuNhapXuat_LoaiPhieu]
GO
ALTER TABLE [dbo].[PhieuNhapXuat]  WITH CHECK ADD  CONSTRAINT [CHK_PhieuNhapXuat_SoLuong] CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[PhieuNhapXuat] CHECK CONSTRAINT [CHK_PhieuNhapXuat_SoLuong]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [CHK_SanPham_DonGiaNhap] CHECK  (([DonGiaNhap]>(0)))
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [CHK_SanPham_DonGiaNhap]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [CHK_SanPham_MucTonToiThieu] CHECK  (([MucTonToiThieu]>=(0)))
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [CHK_SanPham_MucTonToiThieu]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [CHK_SanPham_SoLuongTon] CHECK  (([SoLuongTon]>=(0)))
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [CHK_SanPham_SoLuongTon]
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoNhapXuat]    Script Date: 1/05/2026 11:53:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
-- SP_BAOCAONHAPXUAT: Báo cáo tổng hợp nhập – xuất – tồn kho
-- ============================================================
CREATE   PROCEDURE [dbo].[sp_BaoCaoNhapXuat]
    @TuNgay  DATE = NULL,
    @DenNgay DATE = NULL,
    @MaKho   INT  = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Gán khoảng thời gian mặc định nếu không truyền
    IF @TuNgay  IS NULL SET @TuNgay  = DATEADD(MONTH, -1, GETDATE());
    IF @DenNgay IS NULL SET @DenNgay = GETDATE();

    -- Báo cáo nhập – xuất – tồn theo từng sản phẩm
    SELECT
        sp.MaSP,
        sp.TenSP,
        kh.TenKho,
        sp.DonViTinh,
        -- Tổng nhập trong kỳ
        ISNULL(nhap.TongNhap, 0)                       AS TongNhapKy,
        ISNULL(nhap.GiaTriNhap, 0)                     AS GiaTriNhapKy,
        -- Tổng xuất trong kỳ
        ISNULL(xuat.TongXuat, 0)                       AS TongXuatKy,
        ISNULL(xuat.GiaTriXuat, 0)                     AS GiaTriXuatKy,
        -- Tồn kho hiện tại
        sp.SoLuongTon                                  AS TonHienTai,
        sp.SoLuongTon * sp.DonGiaNhap                 AS GiaTriTonHienTai,
        -- Nhận xét trạng thái
        CASE
            WHEN sp.SoLuongTon = 0                      THEN N'⛔ Hết hàng – Cần nhập ngay'
            WHEN sp.SoLuongTon <= sp.MucTonToiThieu    THEN N'⚠️ Tồn kho dưới mức an toàn'
            ELSE                                              N'✅ Tồn kho bình thường'
        END AS NhanXetTonKho
    FROM SanPham sp
    INNER JOIN KhoHang kh ON sp.MaKho = kh.MaKho
    -- Tổng hợp số liệu nhập trong kỳ
    LEFT JOIN (
        SELECT
            MaSP,
            SUM(SoLuong)            AS TongNhap,
            SUM(SoLuong * DonGia)   AS GiaTriNhap
        FROM PhieuNhapXuat
        WHERE LoaiPhieu = N'Nhap'
          AND NgayGiaoDich BETWEEN @TuNgay AND @DenNgay
        GROUP BY MaSP
    ) nhap ON sp.MaSP = nhap.MaSP
    -- Tổng hợp số liệu xuất trong kỳ
    LEFT JOIN (
        SELECT
            MaSP,
            SUM(SoLuong)            AS TongXuat,
            SUM(SoLuong * DonGia)   AS GiaTriXuat
        FROM PhieuNhapXuat
        WHERE LoaiPhieu = N'Xuat'
          AND NgayGiaoDich BETWEEN @TuNgay AND @DenNgay
        GROUP BY MaSP
    ) xuat ON sp.MaSP = xuat.MaSP
    WHERE (@MaKho IS NULL OR sp.MaKho = @MaKho)
    ORDER BY kh.TenKho, NhanXetTonKho, sp.TenSP;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_ThemSanPham]    Script Date: 1/05/2026 11:53:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
-- SP_THEMSANPHAM: Thêm sản phẩm mới, kiểm tra kho tồn tại
-- ============================================================
CREATE   PROCEDURE [dbo].[sp_ThemSanPham]
    @TenSP           NVARCHAR(150),
    @DonViTinh       NVARCHAR(30),
    @SoLuongTon      INT           = 0,
    @DonGiaNhap      DECIMAL(18,2),
    @MaKho           INT,
    @MucTonToiThieu  INT           = 10,
    @MaSP_Moi        INT           OUTPUT   -- Trả về mã sản phẩm vừa tạo
AS
BEGIN
    SET NOCOUNT ON;

    -- Kiểm tra kho có tồn tại và đang hoạt động không
    IF NOT EXISTS (
        SELECT 1 FROM KhoHang
        WHERE MaKho = @MaKho AND TrangThai = N'HoatDong'
    )
    BEGIN
        RAISERROR(
            N'Lỗi: Kho hàng với MaKho = %d không tồn tại hoặc không đang hoạt động.',
            16, 1, @MaKho
        );
        RETURN -1;
    END;

    -- Kiểm tra tên sản phẩm không được để trống
    IF LEN(LTRIM(RTRIM(@TenSP))) = 0
    BEGIN
        RAISERROR(N'Lỗi: Tên sản phẩm không được để trống.', 16, 1);
        RETURN -2;
    END;

    -- Kiểm tra sản phẩm có bị trùng tên trong cùng kho không
    IF EXISTS (
        SELECT 1 FROM SanPham
        WHERE TenSP = @TenSP AND MaKho = @MaKho
    )
    BEGIN
        RAISERROR(
            N'Lỗi: Sản phẩm "%s" đã tồn tại trong kho này.',
            16, 1, @TenSP
        );
        RETURN -3;
    END;

    -- Thực hiện chèn sản phẩm mới
    BEGIN TRY
        INSERT INTO SanPham (TenSP, DonViTinh, SoLuongTon, DonGiaNhap, MaKho, MucTonToiThieu)
        VALUES (@TenSP, @DonViTinh, @SoLuongTon, @DonGiaNhap, @MaKho, @MucTonToiThieu);

        SET @MaSP_Moi = SCOPE_IDENTITY();

        PRINT N'Thêm sản phẩm thành công. MaSP mới = ' + CAST(@MaSP_Moi AS NVARCHAR);
        RETURN 0;
    END TRY
    BEGIN CATCH
        PRINT N'Lỗi hệ thống: ' + ERROR_MESSAGE();
        RETURN -99;
    END CATCH;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_TongGiaTriKho]    Script Date: 1/05/2026 11:53:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_TongGiaTriKho]
    @MaKho           INT           = NULL,   -- NULL = tính tất cả kho
    @TongGiaTri      DECIMAL(18,2) OUTPUT,
    @SoSanPham       INT           OUTPUT,
    @TongSoLuong     INT           OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    IF @MaKho IS NULL
    BEGIN
        -- Tính toàn bộ kho
        SELECT
            @TongGiaTri  = SUM(SoLuongTon * DonGiaNhap),
            @SoSanPham   = COUNT(*),
            @TongSoLuong = SUM(SoLuongTon)
        FROM SanPham;

        -- Báo cáo chi tiết từng kho
        SELECT
            kh.TenKho,
            COUNT(sp.MaSP)           AS SoSanPham,
            SUM(sp.SoLuongTon)       AS TongSoLuong,
            SUM(sp.SoLuongTon * sp.DonGiaNhap) AS GiaTriTon,
            SUM(sp.SoLuongTon * sp.DonGiaNhap * 1.10) AS GiaTriCoVAT
        FROM SanPham sp
        INNER JOIN KhoHang kh ON sp.MaKho = kh.MaKho
        GROUP BY kh.MaKho, kh.TenKho
        ORDER BY GiaTriTon DESC;
    END
    ELSE
    BEGIN
        -- Tính riêng kho được chỉ định
        SELECT
            @TongGiaTri  = SUM(SoLuongTon * DonGiaNhap),
            @SoSanPham   = COUNT(*),
            @TongSoLuong = SUM(SoLuongTon)
        FROM SanPham
        WHERE MaKho = @MaKho;
    END;
END;

GO
/****** Object:  Trigger [dbo].[trg_KhoHang_UpdateSP]    Script Date: 1/05/2026 11:53:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ============================================================
-- TRIGGER 2
-- UPDATE KhoHang → UPDATE SanPham
-- ============================================================

CREATE TRIGGER [dbo].[trg_KhoHang_UpdateSP]
ON [dbo].[KhoHang]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    PRINT N'[TRIGGER] KhoHang → SanPham';

    UPDATE sp
    SET sp.SoLuongTon = sp.SoLuongTon + 1
    FROM SanPham sp
    INNER JOIN inserted i
        ON sp.MaKho = i.MaKho;
END;

GO
ALTER TABLE [dbo].[KhoHang] ENABLE TRIGGER [trg_KhoHang_UpdateSP]
GO
/****** Object:  Trigger [dbo].[trg_PhieuNhapXuat_Delete]    Script Date: 1/05/2026 11:53:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trg_PhieuNhapXuat_Delete]
ON [dbo].[PhieuNhapXuat]
AFTER DELETE
AS
BEGIN
    SET NOCOUNT ON;

    -- Nếu phiếu nhập bị xóa → giảm lại tồn kho
    UPDATE sp
    SET sp.SoLuongTon = sp.SoLuongTon - d.SoLuong
    FROM SanPham sp
    INNER JOIN deleted d ON sp.MaSP = d.MaSP
    WHERE d.LoaiPhieu = N'Nhap';

    -- Nếu phiếu xuất bị xóa → cộng lại tồn kho
    UPDATE sp
    SET sp.SoLuongTon = sp.SoLuongTon + d.SoLuong
    FROM SanPham sp
    INNER JOIN deleted d ON sp.MaSP = d.MaSP
    WHERE d.LoaiPhieu = N'Xuat';

    PRINT N'[TRIGGER DELETE] Đã hoàn tác tồn kho tương ứng với phiếu bị xóa.';
END;

GO
ALTER TABLE [dbo].[PhieuNhapXuat] ENABLE TRIGGER [trg_PhieuNhapXuat_Delete]
GO
/****** Object:  Trigger [dbo].[trg_PhieuNhapXuat_Insert]    Script Date: 1/05/2026 11:53:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
-- TRIGGER: Cập nhật SoLuongTon khi có phiếu nhập hoặc xuất mới
-- ============================================================
CREATE   TRIGGER [dbo].[trg_PhieuNhapXuat_Insert]
ON [dbo].[PhieuNhapXuat]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    -- Xử lý phiếu NHẬP: tăng tồn kho
    UPDATE sp
    SET sp.SoLuongTon = sp.SoLuongTon + i.SoLuong
    FROM SanPham sp
    INNER JOIN inserted i ON sp.MaSP = i.MaSP
    WHERE i.LoaiPhieu = N'Nhap';

    -- Xử lý phiếu XUẤT: giảm tồn kho
    -- Kiểm tra trước để tránh tồn kho âm
    IF EXISTS (
        SELECT 1
        FROM SanPham sp
        INNER JOIN inserted i ON sp.MaSP = i.MaSP
        WHERE i.LoaiPhieu = N'Xuat'
          AND sp.SoLuongTon < i.SoLuong
    )
    BEGIN
        RAISERROR(
            N'Lỗi: Không đủ hàng tồn kho để xuất. Giao dịch bị hủy.',
            16, 1
        );
        ROLLBACK TRANSACTION;
        RETURN;
    END;

    UPDATE sp
    SET sp.SoLuongTon = sp.SoLuongTon - i.SoLuong
    FROM SanPham sp
    INNER JOIN inserted i ON sp.MaSP = i.MaSP
    WHERE i.LoaiPhieu = N'Xuat';

    -- Ghi log cảnh báo tồn kho thấp
    IF EXISTS (
        SELECT 1
        FROM SanPham sp
        INNER JOIN inserted i ON sp.MaSP = i.MaSP
        WHERE sp.SoLuongTon <= sp.MucTonToiThieu
    )
    BEGIN
        PRINT N'[CẢNH BÁO] Có sản phẩm xuống dưới mức tồn kho an toàn sau giao dịch này.';
    END;
END;

GO
ALTER TABLE [dbo].[PhieuNhapXuat] ENABLE TRIGGER [trg_PhieuNhapXuat_Insert]
GO
/****** Object:  Trigger [dbo].[trg_SanPham_UpdateKho]    Script Date: 1/05/2026 11:53:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ============================================================
-- TRIGGER 1
-- UPDATE SanPham → UPDATE KhoHang
-- ============================================================

CREATE TRIGGER [dbo].[trg_SanPham_UpdateKho]
ON [dbo].[SanPham]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    PRINT N'[TRIGGER] SanPham → KhoHang';

    UPDATE kh
    SET kh.SucChua = kh.SucChua + 1
    FROM KhoHang kh
    INNER JOIN inserted i
        ON kh.MaKho = i.MaKho;
END;

GO
ALTER TABLE [dbo].[SanPham] ENABLE TRIGGER [trg_SanPham_UpdateKho]
GO
